@apigear-io:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}
@apigear-io-templates:registry=https://europe-west3-npm.pkg.dev/apigear/technology-templates/
//europe-west3-npm.pkg.dev/apigear/technology-templates/:_password=${GCP_AUTH_TOKEN}
//europe-west3-npm.pkg.dev/apigear/technology-templates/:username=_json_key_base64
//europe-west3-npm.pkg.dev/apigear/technology-templates/:email=not.valid@email.com
//europe-west3-npm.pkg.dev/apigear/technology-templates/:always-auth=true